header {
  background: whitesmoke;
}

nav {
  background: ivory;
  padding: 1em;
  display: inline-block;

}

p {
  font-style: italic;
}

img {
  background-color: black;
}

li {
  display: inline-block;
  padding: .25em;
}

footer {
  background: grey;
}

section {
  display: inline-block;
}

button {
  background: black;
  color: white;

}

#featured {
  display: flex;
}

#featured img {
  width: 100%;

}

#featured div {
  flex: 1;
  margin-right: 5px;
}